<div class="details-grid">
  <div class="detail-item">
    <span class="material-symbols-rounded detail-icon">water_drop</span>
    <div class="detail-text">
      <span class="label text-sm text-muted">HUMIDITY</span>
      <span class="value font-medium">{{ details().humidity }}</span>
    </div>
  </div>
  
  <div class="detail-item">
    <span class="material-symbols-rounded detail-icon">air</span>
    <div class="detail-text">
      <span class="label text-sm text-muted">WIND</span>
      <span class="value font-medium">{{ details().wind }}</span>
    </div>
  </div>

  <div class="detail-item">
    <span class="material-symbols-rounded detail-icon">light_mode</span>
    <div class="detail-text">
      <span class="label text-sm text-muted">UV INDEX</span>
      <span class="value font-medium">{{ details().uvIndex }}</span>
    </div>
  </div>

  <div class="detail-item">
    <span class="material-symbols-rounded detail-icon">visibility</span>
    <div class="detail-text">
      <span class="label text-sm text-muted">VISIBILITY</span>
      <span class="value font-medium">{{ details().visibility }}</span>
    </div>
  </div>
</div>
