<nav class="bottom-nav">
  <div class="nav-item active flex-center">
    <span class="material-symbols-rounded">cloud</span>
    <span class="nav-label text-xs font-medium">TODAY</span>
  </div>
  <div class="nav-item flex-center">
    <span class="material-symbols-rounded">map</span>
    <span class="nav-label text-xs font-medium">RADAR</span>
  </div>
  <div class="nav-item flex-center">
    <span class="material-symbols-rounded">settings</span>
    <span class="nav-label text-xs font-medium">SETTINGS</span>
  </div>
</nav>
